body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 36px; /* Testo più grande */
}

button {
    padding: 15px 30px;
    font-size: 24px;  /* Testo del bottone più grande */
    color: #fff;
    background-color: #e63946;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d62828;
}

#message {
    margin-top: 30px;
    font-size: 36px;  /* Testo del messaggio più grande */
    font-weight: bold;
    color: #e63946;
}

img {
    margin-top: 30px;
    width: 300px;  /* Immagine più grande */
    height: auto;
    border-radius: 10px;
}

.hidden {
    display: none;
}
